#head {
  margin: 0;
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
  width: 600px; }

.headerLogo {
  float: left;
  margin-top: 0px;
  height: 100px;
  width: 100px;
  background-size: contain; }

#tree {
  height: 100px;
  width: 100px; }

.headerText {
  margin-top: 0px;
  margin-right: 20px;
  padding: 0;
  float: right;
  position: fixed;
  display: inline-block;
  font-family: Helvetica; }

.sroub {
  margin-top: -10px;
  color: #00a600;
  display: inline-block;
  font-family: Helvetica;
  font-size: 38px; }

.cg {
  color: #00a600;
  display: inline-block;
  font-family: Helvetica;
  font-size: 28px; }

.on {
  color: black;
  margin-top: -20px;
  font-size: 18px;
  text-align: center; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  list-style-type: none;
  background-color: black;
  text-align: center;
  position: fixed;
  top: 120px;
  left: 0px;
  width: 100%;
  white-space: nowrap; }

nav li {
  display: inline-block;
  text-align: center;
  padding: 0px 30px; }

nav a {
  color: #00a600;
  display: inline-block;
  padding: 12px 15px;
  font-Size: 14px;
  text-decoration: none;
  font-family: Helvetica;
  text-align: center; }

nav a:hover {
  background-color: black;
  color: #ffffff;
  font-family: Helvetica; }
